# Методы для текста. 
* Часто текстовые данные нужно очистить или преобразовать.
* Хотя с помощью .apply() можно применить любую функцию, в Pandas есть много встроенных методов и функций для работы с текстом.

In [1]:
import numpy as np 
import pandas as pd

In [2]:
email = 'azabekniyazov@gmail.com'

In [3]:
email.split('@')

['azabekniyazov', 'gmail.com']

In [4]:
names = pd.Series(['andrew','boba','claire','dabid','5'])
names

0    andrew
1      boba
2    claire
3     dabid
4         5
dtype: object

In [5]:
names.str.upper()

0    ANDREW
1      BOBA
2    CLAIRE
3     DABID
4         5
dtype: object

In [6]:
email.isdigit()

False

In [7]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [8]:
# Преобразование pd.Series в pd.DataFrame с помощью .split() 
tech_finance = ['GOOG,APPL,AMZN','JPN,BAC,GS']
len(tech_finance)

2

In [10]:
tickers = pd.Series(tech_finance)
tickers

0    GOOG,APPL,AMZN
1        JPN,BAC,GS
dtype: object

In [14]:
tickers.str.split(',').str[0]

0    GOOG
1     JPN
dtype: object

In [13]:
tech = 'GOOG,APPL,AMZN'
tech.split(',')[0]

'GOOG'

In [15]:
tickers.str.split(',', expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPN   BAC    GS

In [16]:
messy_names = pd.Series(['andrew  ','bo:bo','  claire  '])
messy_names

0      andrew
1         bo:bo
2      claire
dtype: object

In [21]:
messy_names.str.replace(':','').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

0    andrew
1      bobo
2    claire
dtype: object

In [24]:
def cleanup(name):
    name = name.replace(":","")
    name = name.strip()
    name = name.capitalize()
    return name

In [25]:
messy_names.apply(cleanup)

0    Andrew
1      Bobo
2    Claire
dtype: object